/* this css sheet will be applied to create, details and edits page of the app*/
/* changing the font */


* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

body {
    padding: 1rem;
    margin: 0 auto;
    text-align:center;
}

.bg-goals-img {
    padding: auto;
    height: auto;
    background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }

hr {
    border: 0;
    height: 1.5px;
    background-color: black;
}

input, textarea {
    font-size: 1em;
}

button, input[type=submit] {
    font-size: 1em;
    font-weight: 100;
    padding: 0.1em 0.3em;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

button:hover, input[type=submit]:hover {
    background-color:white;
    color: black;
    border: 1px solid black;
}

form > label {
    display: block;
}


textarea {
    min-height: 50vh;
}

.form-field {
    min-width: 80%;
}

#login-form label, #sign-up-form label {
    display: block;
    margin: 0.5em 0;
    font-size: 1.3em;
    font-weight: 100;
}


#goal-list {
    margin: 3rem 0; 
}

#goal-card .card-header {
    margin-bottom: 0.5rem;
}

#goal-card .card-content {
    margin: 0.5rem 0;
}

#goal-card .card-info {
    margin-top: 0.5rem;
}

a { /*Addressing Back To Home font*/
    font: 10px;
}

.space{
    margin-top: 25px;
}
@media screen and (min-width: 500px) {
    body {
        max-width: 500px;
    }
}

@media screen and (min-width: 700px) {
    body {
        max-width: 700px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
    }
}
