* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.logo {
    height: 250px;
    width: 250px;
}

.bg-img {
    padding: auto;
    height: auto;
    background-image: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }


body {
    padding: 1rem;
    margin: 0 auto;
    text-align:center;
}


hr {
    border: 0;
    height: 1.5px;
    background-color: black;
}

input, textarea {
    font-size: 1em;
}

button, input[type=submit] {
    font-size: 1em;
    font-weight: 100;
    padding: 0.1em 0.3em;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

button:hover, input[type=submit]:hover {
    background-color:white;
    color: black;
    border: 1px solid black;
}

#logout-btn {
    margin-bottom: 10px;
}

form > label {
    display: block;
}

textarea {
    min-height: 50vh;
}

.form-field {
    min-width: 80%;
    border: 1px solid gray;
}

#login-form label, #sign-up-form label {
    display: block;
    margin: 0.5em 0;
    font-size: 1.3em;
    font-weight: 100;
    border-radius: 5px;
}

#auth-menu {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5em;
    margin-left: 5em;
}

.info-box {
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

#goal-card .card-header {
    margin-bottom: 0.5rem;
}

#goal-card .card-content {
    margin: 0.5rem 0;
    text-align: left;
}

#goal-card .card-info {
    margin-top: 0.5rem;
    text-align: left;
}

@media screen and (min-width: 500px) {
    body {
        max-width: 500px;
    }
}

@media screen and (min-width: 700px) {
    body {
        max-width: 700px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
    }
}